
.SectionSecond{
    overflow: hidden;
}

.Headings h4{
 display: flex;
 width: 220px;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: normal;
    color: rgb(40, 40, 40);
    font-size: 1.8em;
    
}

.Headings h4:before{
    content: '';
    border-top: 1px solid;
    margin: 5px 15px 0 0;
    flex: 1 0 20px;
}

.Text{
 font-size: .75em;
 color: grey;
}




.Expand{
 display: flex;
 justify-content: flex-start;
 align-items: center;
 margin: 1em 0;
}

.Expand span{
 font-weight: bold;
 font-size: 1.8em;
 margin: 0 0 5px 10px;
}

.Expand h6{
 text-transform: uppercase;
 font-size: 0.8em;
 margin:0;
 font-weight: bold;
}