.Footer{
 height: 50px;
 background-color: black;
 display: flex;
 align-items: center;
}

.Footer p{
 font-size: 0.8em;
 color: rgb(151, 151, 151);
 margin-bottom: 3px;
}

.Grid{
 display: grid;
 grid-template-columns: repeat(12, 1fr);

}

.FooterLogo{
 height: 100%;
 width: 20px;
 grid-column: 1/3;
 justify-self: start;
}

.Policy{
 grid-column: 4/13;
 justify-self: end;
}

@media(min-width: 768px){
 .FooterLogo{
  justify-self: end;
 }
}

.FooterLogo img{
 width: 100%;
 height: auto;
 
}